body {
    background-color: #feeed6;
    font-family: arial, serif;
}

h1 {
    font-size: 175%;
    font-family: arial, serif;
    font-weight: normal;
}

p {
    font-family: arial, serif;
    text-indent: 30px;
    width: 750px;
}

[start], [price], [price-for-students], [course-conent] {
    color: #378DB2;
    font-family: arial, serif;
    font-weight: bold;
}

[line-through] {
    text-decoration-line: line-through;
}