body {
    background-color: #feeed6;
    font-family: arial, serif;
    color: #676565;
    font-size: 125%;
}

h1 {
    font-size: 170%;
    font-weight: normal;
}

p {
    text-indent: 15px;
    /* width: 1000px; */
}

[start], [price], [price-for-students], [course-conent] {
    color: #378DB2;
    font-weight: bold;
}

[line-through] {
    text-decoration-line: line-through;
}

br {
    content: " ";
    display: block;
    margin: 0.6em;
}