body {
    margin: 30px auto;
    box-sizing: border-box;
    min-width: 500px;
}

.input-label {
    margin: 5px
}

.form {
    width: 60%;
    display: block;
    margin: 20px auto 5px;
    position: relative;
}

li {
    margin: 20px 0;
    min-height: 20px;
}

.list {
    list-style-type: none;
}

.header {
    text-align: center;
    width: 300px;
    margin: auto;
    color: #3498db;
}

.text-input {
    margin: 5px auto -20px;
    display: block;
    width: 98%;
}

.is-error-message-hidden {
    visibility: hidden;
    color: #f00;
}

.error-message {
    padding: 5px 10px;
    color: #f00;
}

.invalid {
    border-color: #f00;
}

.delete-button:hover {
    border-color: #f00;
}

.edit-button:hover {
    border-color: #00f;
}

.edit-button {
    right: 0;
    margin: 5px 0 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
}

.delete-button {
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
}

.save-button {
    margin: 5px 0 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
}

.cancel-button {
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
}

.cancel-button:hover {
    border-color: #f00;
}

.save-button:hover {
    border-color: #85b235;
}

.add-button {
    display: block;
    padding: 10px 20px;
    text-align: center;
    background: #85b235;
    color: #eee;
    border: none;
    border-radius: 20px;
    width: 50%;
    margin: 20px auto;
    cursor: pointer;
}

.note-text {
    display: inline-block;
    width: 84%;
}

.edit-input {
    width: 83%;
}

.note {
    width: 100%;
}

.buttons {
    display: inline-block;
    text-align: right;
}