body {
    margin: 30px auto;
    min-width: 50px;
}

.form {
    width: 80%;
    display: block;
    margin: 20px auto 5px;
    position: relative;
}

li {
    margin: 20px 0;
}

.list {
    padding: 0;
    list-style-type: none;
}

.header {
    text-align: center;
    width: 300px;
    margin: auto;
    color: #3498db;
}

.text-input {
    margin: auto;
    display: block;
    width: 100%;
}

.is-error-message-hidden {
    visibility: hidden;
}

.is-error-message-is-visible {
    color: #f00;
    visibility: visible;
}

.invalid {
    border-color: #f00;
}

.delete-button:hover {
    border-color: #f00;
}

.edit-button:hover {
    border-color: #00f;
}

.edit-button {
    position: absolute;
    right: 0;
    margin: 5px 0 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button {
    position: absolute;
    right: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.save-button {
    margin: 5px 0 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button {
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button:hover {
    border-color: #f00;
}

.save-button:hover {
    border-color: #85b235;
}

.add-button {
    display: block;
    padding: 5px 20px;
    text-align: center;
    background: #85b235;
    color: #eee;
    border: none;
    border-radius: 20px;
    width: 100%;
}