* {
    box-sizing: border-box;
}

.block {
    margin: 30px auto;
    max-width: 1000px;
}

.form {
    width: 90%;
    display: block;
    margin: 20px auto 5px;
}

.new-todo-list-note {
    margin: 20px 0;
    min-height: 20px;
}

.list {
    list-style-type: none;
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
}

.header {
    text-align: center;
    width: 300px;
    margin: auto;
    color: #3498db;
}

.text-input {
    margin: 5px auto;
    display: block;
    width: 100%;
}

.error-message {
    color: #f00;
}

.is-invisible {
    visibility: hidden;
}

.invalid {
    border-color: #f00;
}

.add-button {
    display: block;
    padding: 10px 20px;
    text-align: center;
    background: #85b235;
    color: #eee;
    border: none;
    border-radius: 20px;
    width: 50%;
    margin: 20px auto;
    cursor: pointer;
}

.note {
    display: flex;
}

.note-button {
    cursor: pointer;
    border-radius: 5px;
    padding: 3px 4px 1px 4px;
    background: #fff;
    height: 28px;
}

.note-text,
.edit-input {
    width: 100%;
    height: 28px;
}

.edit-button,
.save-button {
    margin: 0 0 5px 10px;
}

.edit-button:hover {
    border-color: #00f;
}

.save-button:hover {
    border-color: #85b235;
}

.delete-button,
.cancel-button {
    margin: 0 0 5px 5px;
}

.delete-button:hover,
.cancel-button:hover {
    border-color: #f00;
}