/* reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: normal;
    letter-spacing: 0.01em;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

/*  reset end */
.block{
    padding: 20px;
}

.table {
    background: #ccc;
}

.th {
    width: 180px;
    padding: 10px;
    text-align: left;
}

.td {
    width: 180px;
    padding: 10px;
}

.job-title-column {
    padding: 10px;
    width: 385px;
}

.twitter-column {
    width: 210px;
    padding: 10px;
}

.thead {
    color: #fff;
    background: #3498db;
}

.tbody {
    background: #eee;
}

tr:nth-child(even) {
    background: #fff;
}