.block {
    padding: 20px;
    max-width: 900px;
    font-family: Calibri, serif;
    font-size: 24px;
}

.table {
    width: 100%;
    text-align: left;
}

.table_cell {
    padding: 17px 12px;
    border: 1px solid #ccc;
}

.even_table_row {
    background: #eee;
}

.table_head {
    color: #fff;
    background: #3498db;
    padding: 18px 0;
    font-weight: bold;
}