body {
    font-size: 17px;
    font-family: arial, sans-serif;
    color: #676565;
}

.block {
    max-width: 850px;
    margin: 30px auto;
    padding: 5px 15px 0 12px;
    background-color: #feeed6;
}

.header {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 15px;
    padding: 5px 0;
}

.subheader {
    color: #378DB2;
    font-weight: bold;
}

.line-through {
    text-decoration-line: line-through;
}

.description {
    font-size: 19px;
    margin: 10px 0;
}

.course_content {
    font-size: 19px;
    padding-top: 5px;
}

.text-block {
    text-indent: 17px;
    margin: 10px 0;
    line-height: 24px;
    text-align: justify;
}