* {
    box-sizing: border-box;
}

body {
    color: #6b6774;

    font-family: Arial, serif;
    font-size: 14px;
}

.header {
    margin-left: 20px;
    font-size: 29px;
    margin-bottom: 10px;
}

.block {
    max-width: 890px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 60px 20px;

    display: block;
}

.form {
    width: 100%;
    background: #feeed6;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: none;
    font-family: Arial, serif;
    font-size: 14px;
}

.textarea {
    width: 100%;
    margin: 10px 0 10px 0;
    height: 130px;
    border: none;
    resize: vertical;
    padding: 10px 0 0 10px;
    font-family: Arial, serif;
    font-size: 14px;
}

.span {
    margin-bottom: 10px;
}

.discription {
    font-weight: bold;
}

.button:hover {
    background-color: #3498db;
    cursor: pointer;
}

.button {
    background: #378db2;
    border: none;
    color: #fff;

    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;

    float: right;
}
