/* reset start
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: normal;
    letter-spacing: 0.01em;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

 reset end */

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #6b6774;

    font-family: Arial, serif;
    font-size: 14px;

    overflow-x: hidden

}

.input {
    padding: 0 20px;
    margin: 5px 25% 20px 25%;
    width: 50%;
    height: 30px;
    border: none;
}

.header {
    margin: 5px 25% 5px 25%;
    font-size: 29px;
}

.textarea {
    padding: 10px 20px;
    margin: 10px 25% 10px 25%;
    width: 50%;
    height: 150px;
    border: none;
    resize: vertical;
}

.span {
    margin: 10px 25% 10px 25%;
    padding: 10px 0;
    width: 50%;
}

.label {
    margin-left: 25%;
    width: 50%;
    font-weight: bold;
}

.block {
    background: #feeed6;
    padding: 20px 10px;
}

.button:hover {
    background-color: #3498db;
    cursor: pointer;
}

.button {
    background: #378db2;
    border: none;
    color: #ffffff;

    padding: 12px 25px;
    margin: 10px 0 0 65%;

    font-weight: bold;
}