{% extends 'layout.twig' %}

{% block body %}
    <div v-cloak id="app" class="container w-auto">
        <h1 class="text-center header mt-3">
            Phone book
        </h1>
        <div class="row justify-content-center">
            <form class="col-md-6" novalidate>
                <div class="my-3 justify-content-center">
                    <label class="w-100">Имя:
                        <input :class="{'is-invalid': isNameInvalid}"
                               v-model.trim="name"
                               type="text"
                               class="form-control text-center"
                               required>
                        <span :class="{'is-invalid':isNameInvalid}"
                              class="invalid-feedback">
                            Введите имя
                         </span>
                    </label>
                </div>

                <div class="my-3 justify-content-center">
                    <label class="w-100">Фамилия:
                        <input :class="{'is-invalid': isLastNameInvalid}"
                               v-model.trim="lastName"
                               type="text"
                               class="form-control text-center"
                               required>
                        <span :class="{'is-invalid':isLastNameInvalid}"
                              class="invalid-feedback">
                        Введите фамилию
                        </span>
                    </label>
                </div>

                <div class="my-3 justify-content-center">
                    <label class="w-100"> Номер телефона:
                        <input :class="{'is-invalid': isPhoneNumberInvalid || containsPhone}"
                               v-model.trim="phone"
                               placeholder="89234567890"
                               class="form-control text-center"
                               required>
                        <span v-if="isPhoneNumberInvalid"
                              :class="{'is-invalid':isPhoneNumberInvalid}"
                              class="invalid-feedback">
                    Введите номер в формате: +79123456789
                    </span>
                        <span v-if="containsPhone"
                              :class="{'d-block':containsPhone}"
                              class="invalid-feedback">
                    Контакт с таким номером телефона уже существует
                    </span>
                    </label>
                </div>

                <div class="my-3">
                    <label class="w-100">
                        <input @click.prevent="addContact"
                               type="submit"
                               class="add-button btn btn-success w-100"
                               value="Добавить">
                    </label>
                </div>
            </form>
        </div>

        <div class="row justify-content-center">
            <form class="col-md-6" novalidate>
                <div class="my-1">
                    <label class="w-100">Поиск:
                        <input :class="{'is-invalid': isSearchInvalid}"
                               v-model.trim="term"
                               type="text"
                               class="form-control text-center"
                               required>
                        <span :class="{'is-invalid':isSearchInvalid}"
                              class="invalid-feedback">
                        Введите данные для поиска
                        </span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-8">
                        <input @click.prevent="searchContact"
                               type="submit"
                               class="add-button btn btn-info w-100"
                               value="Найти">
                    </label>
                    <label class="col-4">
                        <input @click.prevent="cancelSearch"
                               type="submit"
                               class="add-button btn btn-danger w-100"
                               value="Отменить">
                    </label>
                </div>
            </form>
        </div>

        <div class="table-responsive">
            <table class="contacts-table w-100 table mt-3">
                <thead>
                <tr class="table-head">
                    <th>№</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Номер телефона</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="contacts-table table-dark">
                <tr v-for="(contact, index) in contacts" :key="contact.id">
                    <td>{% verbatim %} {{ index + 1 }} {% endverbatim %}</td>
                    <td v-text="contact.    name"></td>
                    <td v-text="contact.lastName"></td>
                    <td v-text="contact.phone"></td>
                    <td>
                        <button @click="setDeletableContact(contact)"
                                class="btn delete-button btn-danger w-100"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-dialog">
                            Удалить
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade bg-opacity-25" id="modal-dialog" tabindex="-1" aria-labelledby="modal-dialog-label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-dialog-label">Подтвердите действие</h5>
                    </div>
                    <div class="modal-body">Вы уверены, что хотите удалить этот контакт?</div>
                    <div class="modal-footer">
                        <button @click="deleteContact"
                                class="btn btn-danger yes-button"
                                data-bs-dismiss="modal">
                            Да
                        </button>
                        <button class="btn btn-success" data-bs-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}