* {
    box-sizing: border-box;
}

.background {
    background-color: #f5f6f6;
}

.header {
    background-color: #fed720;

    height: 30%;

    font-family: Calibri, serif;
    font-size: 36px;

    text-align: center;
    border: none;
}

a {
    padding: 30px;
    vertical-align: middle;
}

text {
    font-weight: lighter;
}

tbody {
    height: 200px;
    overflow-y: scroll;
    display: block;
}

table, thead {
    width: 100%;
    display: block;
}

.col1 {
    padding: 10px 10px;
    margin: 10px 10px;
}

.col2 {
    padding: 10px 10px;
    margin: 10px 10px;


}

.col3 {
    padding: 10px 10px;
    margin: 10px 10px;


}

.col4 {
    padding: 10px 10px;
    margin: 10px 10px;


}

.col5 {
    padding: 10px 10px;
    margin: 10px 10px;


}

.col6 {
    padding: 10px 10px;
    margin: 10px 10px;


}

.col7 {
    padding: 10px 10px;
    margin: 10px 10px;
}
