<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="todo-list-vue.css">

    <script defer src="node_modules/vue/dist/vue.js"></script>
    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="todo-list-vue.js"></script>

    <title>TODO list</title>
</head>
<body>
<div id="app">
    <h1 class="header text-center">TODO list</h1>
    <div class="container">
        <form class="form justify-content-center align-items-center" id="form" novalidate>
            <div class="row align-top">
                <div class="col-md-2">
                    <label class="label-text-input justify-content-center w-100" for="text-input">
                        Enter your note: </label>
                </div>
                <div class="col-md-8 my-2 my-md-0">
                    <input :class="{'is-invalid': isNewItemInvalid}"
                           v-model.trim="newItemText"
                           class="form-control text-input"
                           id="text-input"
                           required>
                    <div :class="{'is-invalid': isNewItemInvalid}" id="error-message" class="invalid-feedback">
                        Note can't be empty
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <input @click.prevent="addItem"
                           class="btn btn-success add-button w-100"
                           type="submit"
                           id="add-button"
                           value="Add">
                </div>
            </div>
            <hr>
        </form>
        <ul id="list" class="list p-0">
            <li v-for="(item, index) in items" :key="item.id">
                <template v-if="!item.isEditMode">
                    <div class="row my-2 align-items-center">
                        <span v-text="item.text" class="note-text offset-md-2 col-md-6 mb-2"></span>
                        <div class="col-6 col-md-2">
                            <button @click="editItem(item)" class="btn btn-primary edit-button w-100" title="Edit">
                                Edit
                            </button>
                        </div>
                        <div class="col-6 col-md-2">
                            <button @click="deleteItem(index)" class="btn btn-danger delete-button w-100"
                                    title="Delete">
                                Delete
                            </button>
                        </div>
                    </div>
                </template>

                <template v-else>
                    <form class="edit-form" novalidate>
                        <div class="row my-2 px-0 align-items-stretch">
                            <div class="col-md-6 offset-md-2 mb-2">
                                <input :class="{'is-invalid': item.isInvalid}"
                                       v-model.trim="item.editText"
                                       type="text"
                                       class="edit-input form-control"
                                       required>
                                <div :class="{'is-invalid': item.isInvalid}" class="error-message invalid-feedback">
                                    Note can"t be empty
                                </div>
                            </div>
                            <div class="col-6 col-md-2 pl-0">
                                <button @click.prevent="save(item)"
                                        class="btn btn-outline-primary save-button w-100"
                                        type="submit"
                                        title="Save">
                                    Save
                                </button>
                            </div>
                            <div class="col-6 col-md-2">
                                <button @click="cancelEdit(item)"
                                        class="btn btn-outline-danger cancel-button w-100"
                                        title="Cancel">Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </template>
            </li>
        </ul>
    </div>
</div>
</body>
</html>